<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/wassup.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/ext/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/ext/bootstrap.min.css" />
  </head>
  <body>

    <div id="app-container">
      <img id="app_logo" class="logo" src="/static/wassup_logo.png"/>
      <div id="settings">
        <h2 id="welcome_msg">Hi, <span id="app_user_id"></span></h2>
          <ul class="pagination">
            <li id="priv_btn" class="active"><a href="#private">private</a></li>
            <li id="pub_btn" class="inactive"><a href="#public">public</a></li>
            <li>
              <a href="javascript:logout()">
                <form name="logout_form" method="POST" action="/logout">
                  Logout
                </form>
              </a>
            </li>
          </ul>
      </div>

      <p class="clear"></p>

      <div id="friend_list_div">
        <div id="add_friend_div" class="row">
          <div id="friend_id_div" class="col-sm-8"><input type="search" class="form-control" id="friend_id" placeholder="Search for your friend"></div>
          <div class="col-sm-4"><button class="btn btn-primary" id="add_friend_btn">+</button></div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-12"><select class="form-control" multiple id="friend_list"></select></div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-8">
            <button class="btn btn-success" id="send_sup_btn">Send</button>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-8">
            <button class="btn btn-danger" id="remove_friend_btn">Remove</button>
          </div>
        </div>

      </div>

      <div id="sup_div">
        <div id="sup_info_div">
          <p id="sup_info">You got <span id="sup_count">0</span> Sups</p>
        </div>
        <canvas id="sup_canvas"></canvas>
        <p class="clear"></p>
        <img src="static/prev.png" alt="previous" id="prev_sup_btn">
        <button class="btn btn-danger" id="clear_sup_btn">Clear</button>
        <img src="static/next.png" alt="next" id="next_sup_btn">
      </div>

      <p class="bg-success text-uppercase" id="action_info"></p>
      <img src="static/bin.png" alt="trash bin" id="sup_bin">
      <img src="static/refresh.png" alt="refresh" id="refresh_btn">
      <div id="progress_div" class="progress">
        <div id="progress_bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
          <span class="sr-only">50% complete</span>
        </div>
      </div>
    </div>
    <script src="static/js/ext/underscore.js"></script>
    <script type="text/javascript" src="/static/js/wassup.js"></script>
  </body>
</html>
